<% include ../../../partials/aluno-top %>
<div class="card-body">
  <!-- Content -->
  <h3> Questões: </h3>
  <hr>

  <div class="col-md-10">
    <div class="card">

      <div class="card-header">
        <h5>
          <p>
            <%= didatico[0].titulo%>
          </p>
        </h5>
      </div>

      <div class="card-body">
        <h5>
          <p>
            <%= didatico[0].descricao%>
          </p>
        </h5>
      </div>

      <div class="card-body">
        (Download)
      </div>

      <br>
    </div>
  </div>
  <!-- end content -->
</div>
<% include ../../../partials/aluno-bottom %>