<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Detalhes da lista </h3>
  <hr>


  <div class="card mr-md-5">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/professor/exercicios/lista/abrir/<%= id%>/info">Informações da lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/professor/exercicios/lista/abrir/<%= id%>/questoes">Questões desta lista</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4>
        <p>Descrição da lista: </p>
      </h4>
      <h5>
        <p>
          <%= lista[0].descricao%>
        </p>
      </h5>
    </div>
  </div>
  <br>
  <br><br>

</div>
<% include ../../../partials/professor-bottom %>