<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Detalhes da lista </h3>
  <hr>

  <div class="card mr-md-5">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/professor/exercicios/lista/abrir/<%= id%>/info">Informações da lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/professor/exercicios/lista/abrir/<%= id%>/questoes">Questões desta lista</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5>
        Exercicios:
      </h5>
      <hr>
      <% for(var i = 0; i < exercicios.length; i++ ) { %>
      <a href="/professor/exercicios/abrir/<%= exercicios[i].id_exercicios%>" class="list-group-item list-group-item-action">
        <h5>
            <%= exercicios[i].titulo%>
        </h5>
      </a>
      <% } %>
    </div>
  </div>


  <br><br>
</div>
<% include ../../../partials/professor-bottom %>