<!DOCTYPE html>
<html lang="en">

<head>
    <!--Head properties -->        
    <% include ../../../partials/head.ejs%>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

        <h1> Lista: <%= lista[0].titulo%> </h1>
        <hr>
        
            <div class="card">
                
                <div class="card-header">
                    <h5><p><%= lista[0].titulo%></p></h5>
                    <h5><p>Tempo restante: <%= lista[0].tempo%></p></h5>
                </div>

                <div class="card-body">
                    <h5><p><%= lista[0].descricao%></p></h5>

                </div>

            </div>

    </main>

    <!--Scripts -->
    <% include ../../../partials/scripts.ejs /%>
    
</body>

</html>