<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Criar lista de Exercicios: </h3>
  <hr>

  <form class="" action="/professor/exercicios/lista/criar" method="post"><br>

    <div class="row">
      <div class="col-md-8 col-sm-12">
        <label for="titulo" class="font-weight-bold">Titulo da lista:</label>
        <input required type="text" name="titulo" class="form-control">
      </div>
    </div>
    
    <br>
    
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <label for="descricao" class="font-weight-bold">Descreva esta lista em algumas palavras:</label>
        <textarea required class="form-control" name="descricao" rows="5"></textarea>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <label for="descricao" class="font-weight-bold">Tipo de lista:</label>


        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="tipoDeLista" value="lista" checked> Lista de exercícios
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="tipoDeLista" value="prova"> Prova
          </label>
        </div>


      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-1 mr-1">
        <input class="btn btn-info" type="submit" value="Criar">
      </div>
      <div class="col-md-2">
        <a class="btn btn-info" href="/professor/profile/exercicios/lista">Voltar</a>
      </div>
    </div>

  </form>
</div>
<% include ../../../partials/professor-bottom %>