<% include ../../../partials/professor-top %>
<div class="card-body">
  <h3> Exercicio: </h3>
  <hr>

  <div class="card">

    <div class="card-header">
      <h5>
        <p>
          <%= questao[0].titulo%>
        </p>
      </h5>
    </div>

    <div class="card-body">
      <h5>
        <p>
          <%= questao[0].descricao%>
        </p>
      </h5>
    </div>

  </div>

</div>
<% include ../../../partials/professor-bottom %>