<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Criando Turma: </h3>

  <hr>

  <form class="" action="/professor/turmas/criar" method="post">
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label for="nome" class="font-weight-bold">Nome:</label>
        <input required type="text" name="nome" value="" class="form-control" placeholder="Nome do curso">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label for="semestre" class="font-weight-bold">Semestre:</label>
        <input required type="text" name="semestre" value="" class="form-control" placeholder="20??.?">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1 mr-1">
        <input class="btn btn-info" type="submit" value="Criar">
      </div>
      <div class="col-md-2">
        <a class="btn btn-info " href="/professor/profile/turmas">Voltar</a>
      </div>
    </div>
  </form>
</div>
<% include ../../../partials/professor-bottom %>