<% include ../../../partials/professor-top %>
<div class="card-body">

  <h3> Exercícios: </h3>
  <hr>
  <br>

  <div class="row ml-1">
    <p class="col-md-10 mt-1">
      <label class="font-weight-bold">Escolha o material para adicionar na turma:</label>
    </p>
  </div>

  <div class="list-group">
    <form action="/professor/turma/abrir/<%=idSala%>/aluno/incluirlista" method="post">
      <!-- elemento 1 -->
      <% for (var i = 0; i < lista.length; i++ ){%>
      <li class="list-group-item col-md-10 col-sm-12 " value="<%=lista[i].id%>">

        <div class="row form-check">
          <div class="col-5">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="<%= lista[i].id%>" name="options">
              <%= lista[i].titulo%>
            </label>
          </div>
        </div>

      </li>
      <% } %>

      <br>
      <div class="col-1"><input class="btn btn-info btn" type="submit" value="Adicionar"></div>
    </form>
  </div>
</div>
<% include ../../../partials/professor-bottom %>