<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cadastro do usuário</title>
    </head>
    <body>
        <form class="" action="/usuario" method="post">
            <div class="">
                <label for="nome">Nome completo</label>
                <input type="text" name="nome" value="" placeholder="Insira o seu nome.">
            </div>

            <div class="">
                <label for="matricula">Matricula</label>
                <input type="text" name="matricula" value="" placeholder="Insira a sua matrícula.">
            </div>

            <div class="">
                <label for="email">E-mail</label>
                <input type="text" name="email" value="" placeholder="exemplo@exemplo.com">
            </div>

            <div class="">
                <label for="senha">Senha</label>
                <input type="password" name="senha" value="" placeholder="Insira a sua senha.">
            </div>

            <input type="submit" value="gravar">
        </form>
    </body>
</html>
