<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro do usuário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">

        <!--Jumbotron - apresentação  -->
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h2>Criar Conta</h2>
            </div>
        </div>

        <!-- Formulario de cadastro  -->
        <form class="" action="/usuario" method="post">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="nome" class="font-weight-bold">Nome Completo:</label>
                    <input type="text" name="nome" value="" class="form-control" placeholder="Insira o seu nome.">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="matricula" class="font-weight-bold">Matrícula:</label>
                    <input type="text" name="matricula" value="" class="form-control" placeholder="Insira a sua matrícula.">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="email" class="font-weight-bold">E-mail:</label>
                    <input type="text" name="email" value="" class="form-control" placeholder="exemplo@exemplo.com">
                </div>

                <div class="col-md-6 col-sm-12">
                    <label for="senha" class="font-weight-bold">Senha:</label>
                    <input type="password" name="senha" value="" class="form-control" placeholder="Insira a sua senha.">
                </div>
            </div>
            <br><br>
            <!-- Campo instituiao -->
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="instituicao_id" class="font-weight-bold">Insituicçao que você pertence</label>
                    <select class="form-control" name="instituicao_id">
                        <% for (var i = 0; i < listaDeInstituicao.length; i++){%>
                            <option value="<%=listaDeInstituicao[i].id%>"><%=listaDeInstituicao[i].nome%></option>
                            <%}%>
                        </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="gravar" class="btn btn-default">
                </div>
            </div>

        </form>

    </div>


    <script src="assets/js/jquery-3.2.1.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>
