<% include ../../partials/aluno-top %>
<div class="card-body">

    <div class="row">
      <div class="mr-auto col-md-6">
        <h3> Perfil: </h3>
        <hr>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <h4>Nome</h4>
        <label>
          <%= user.nome %></label>
      </li>
      <li class="list-group-item">
        <h4>Email</h4>
        <label>
          <%= user.email %></label>
      </li>
      <li class="list-group-item">
        <label>
          <a href="/profile/update">
            <button type="submit" class="btn btn-secondary btn-sm mt-2 mb-2">Atualizar Perfil</button>
          </a>
        </label>
      </li>
    </ul>
  </div>
  <% include ../../partials/aluno-bottom %>