<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/head %>
</head>

<body>

  <div class="wrapper">
    <!-- TITULO DO MENU LATERAL -->
    <nav id="sidebar" class="bg-dark">
      <div class="sidebar-header bg-dark">
        <h3>Sistema</h3>
      </div>

      <!-- OPÇÔES DO MENU LATERAL -->
      <% include ../../partials/sidebar-menu-user %>

    </nav>

    <div id="content">

      <!-- CONFIGURACOES DO MENU LATERAL, NAO PRECISA ALTERAR -->
      <% include ../../partials/sidebar-config %>

      <!-- INICIO DO CONTEUDO CENTRAL -->
      <div class="card">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md-10">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <h4>Nome</h4>
                  <label>
                    <%= user.nome %></label>
                </li>
                <li class="list-group-item">
                  <h4>Email</h4>
                  <label>
                    <%= user.email %></label>
                </li>
                <li class="list-group-item">
                  <label>
                    <a href="/profile/update">
                      <button type="submit" class="btn btn-secondary btn-sm mt-2 mb-2">Atualizar Perfil</button>
                    </a>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
      <!-- FIM DO CONTEUDO CENTRAL -->

    </div>
  </div>

  <% include ../../partials/scripts %>

</body>

</html>