<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
    </head>

    <body>

        <!-- Nav dashboard -->
        <% include ../../partials/navbar-dashboard.ejs %>
        
        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs %>


        <!-- Content -->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

            <h1> Turmas </h1>

            <hr>

            <div class="form-group">
                <label for="selecionarProfessor">Selecione o Professor</label>
                <select class="form-control" id="selecionarProfessor" onchange="myFunc()">
                        <option> Escolha... </option>                            
                    <% for (var i = 0; i < listaProf.length; i++){%>
                        <option value="<%= listaProf[i].id %>"> Professor: <%= listaProf[i].nome %> </option>
                    <% } %>
                </select>
                
                <br>
                
                <a id="myAnchor" class="btn btn-info disabled">Abrir lista de turmas</a>
                
                <script>
                function myFunc() {

                    if ( x !== 'Escolha...') var x = document.getElementById("selecionarProfessor").value;

                    var anchor = document.getElementById("myAnchor");
                    var att = document.createAttribute("href");
                    att.value = "/profile/turmas/lista";

                    var c = document.createAttribute("class");
                    c.value = "btn btn-info";
                    

                    anchor.setAttributeNode(att, c);
                }
                </script>
            </div>


        </div>
    </main>

        <% include ../../partials/scripts.ejs /%>
    </body>

</html>