<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
    </head>

    <body>

        <!-- Nav dashboard -->
        <% include ../../partials/nav-dashboard.ejs /%>
        
        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs /%>


        <!-- Content -->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

            <h1> Turmas </h1>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Selecione a turma</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </main>

        <% include ../../partials/scripts.ejs /%>
    </body>

</html>