<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../partials/navbar-dashboard.ejs %>

        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs %>

            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
                <h1>Detalhes da turma...</h1>

            </main>

            <% include ../../partials/scripts.ejs /%>
</body>

</html>