<!DOCTYPE html>
    <html lang="en">

<head>
    <!--Head properties -->        
    <% include ../../partials/head.ejs%>
</head>

<body>
    
    <!-- Nav dashboard -->

    <% include ../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../partials/sidebar-menu.ejs %>

    <!-- update Perfil -->
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

        <h1> Atualizar informações: </h1>
        <hr>
        
        <h1> Nao Implementado </h1>

    </main>
    <!--Scripts -->
    <% include ../../partials/scripts.ejs /%>
    
</body>

</html>