<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
    </head>

    <body>

        <!-- Nav dashboard -->
        <% include ../../partials/navbar-dashboard.ejs %>
        
        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs %>


        <!-- Content -->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

            <h1> Turmas </h1>

            <div class="form-group">
                <div class="col-md-3 col-md-6">
                    <input type="submit" value="Criar" class="btn btn-warning btn-lg">
                </div>
            </div>
        </main>

        <% include ../../partials/scripts.ejs /%>
    </body>

</html>