<!DOCTYPE html>
    <html lang="en">

    <head>
        <!--Head properties -->        
        <% include ../../partials/head.ejs%>
    </head>

    <body>

        <!-- Nav dashboard -->
        <% include ../../partials/navbar-dashboard.ejs %>

        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs %>

        <!-- Show Perfil -->
        <% include ../../partials/show-profile.ejs %>

        <!--Scripts -->
        <% include ../../partials/scripts.ejs /%>
        
    </body>

</html>