<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
        <!-- <style> *{border: 1px solid red;} </style> -->
    </head>

    <body>

        <!-- Nav dashboard -->
        <% include ../../partials/navbar-dashboard.ejs %>
        
        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs %>


        <!-- Content -->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">



            <h1> Turmas </h1>

            <hr>
            
            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-success "href="/professor/profile/turmas/criar">Criar</a>
                </div>
            </div>
            <br>

                <div class="row ml-1">
                    <p class="col-md-3 mt-1">
                        <label for="selecionarTurma">Selecione uma turma: </label>
                    </p>
                </div>
            <div class="form-group">
                <div class="list-group">
                            
                    <!-- elemento 1 -->
                        <% for (var i = 0; i < listaSala.length; i++){%>
                            <div class="row align-items-center ml-2 justify-content-between">
                                
                                <div class="col-6">
                                    <li class="list-group-item" value="<%=listaSala[i].id%>">
                                        <%=listaSala[i].nome%>, 
                                        <%=listaSala[i].semestre%>
                                    </li>
                                </div>
                                <div class="col-4">                                        
                                    <button type="button" class="btn btn-info">Abrir</button>
                                    <button type="button" class="btn btn-warning" disabled>Editar</button>
                                    <button type="button" class="btn btn-danger" disabled>Excluir</button>
                                </div>

                            </div>
                        <%}%>

                </div>
            </div>

        </main>

        <% include ../../partials/scripts.ejs /%>
    </body>

</html>