<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
        <!-- <style> *{border: 1px solid red;} </style> -->
    </head>

    <body>

        <!-- Nav dashboard -->
        <% include ../../partials/navbar-dashboard.ejs %>
        
        <!-- Sidebar Menu -->
        <% include ../../partials/sidebar-menu.ejs %>


        <!-- Content -->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">



            <h1> Turmas </h1>

            <hr>
            
            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-success "href="/professor/profile/turmas/criar">Criar</a>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-danger "href="#">Excluir</a>
                </div>
            </div>
            <br>

            <div class="form-group">
                <div class="row ml-1">
                    <p class="col-md-3 mt-1">
                        <label for="selecionarTurma">Selecione uma turma: </label>
                    </p>
                </div>
                
                <div class="list-group">

                    <!-- elemento 1 -->
                    <div class="row align-items-center ml-2">
                        <button type="button" class="btn btn-default col-md-4">Engenharia Elétrica 2017.1 </button>
                        <button type="button" class="btn btn-info col-md-1">Editar</button>
                        <button type="button" class="btn btn-warning col-md-1">Excluir</button>
                    </div>

                    <!-- elemento 1 -->
                    <div class="row align-items-center ml-2">
                        <button type="button" class="btn btn-default col-md-4">Engenharia Elétrica 2017.2 </button>
                        <button type="button" class="btn btn-info col-md-1">Editar</button>
                        <button type="button" class="btn btn-warning col-md-1">Excluir</button>
                    </div>

                </div>
            </div>

        </main>

        <% include ../../partials/scripts.ejs /%>
    </body>

</html>