<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro do usuário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">

        <!--Jumbotron - apresentação  -->
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h2>Login</h2>
            </div>
        </div>

        <!-- Formulario de cadastro  -->
        <form class="" action="/login" method="post">
            <br>
            <div class="row">
                <div class="offset-md-3 col-md-6 col-sm-12">
                    <label for="email" class="font-weight-bold">E-mail:</label>
                    <input type="text" name="email" value="" class="form-control" placeholder="exemplo@exemplo.com">
                </div>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-6 col-sm-12">
                    <label for="senha" class="font-weight-bold">Senha:</label>
                    <input type="password" name="senha" value="" class="form-control" placeholder="Insira a sua senha.">
                </div>
            </div>
            <br><br>
            <br>
            <div class="row">
                <div class="offset-md-5 col-md-12">
                    <input type="submit" value="Entrar" class="btn btn-default">
                </div>
            </div>
        </form> 
    </div>


    <script src="assets/js/jquery-3.2.1.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>