<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"> 
            <a <% if (page_name === "/profile/perfil") { %>class="nav-link active" <% } %> class="nav-link" href="/profile/perfil">Perfil</a> 
        </li>
        <li class="nav-item"> 
            <a <% if (page_name === "/profile/turmas") { %>class="nav-link active" <% } %> class="nav-link" href="/profile/turmas">Turmas</a> 
        </li>
    </ul>
</nav>