<ul class="list-unstyled components">
  <!--<li class="active">-->
  <li>
    <a href="/professor/profile">Perfil</a>
  </li>
  <li>
    <a href="/professor/profile/turmas">Minhas turmas</a>
  </li>
  <li>
    <a href="/professor/profile/exercicios">Exercícios</a>
  </li>
  <li>
    <a href="/professor/profile/exercicios/lista">Lista de atividades</a>
  </li>
  <li>
    <a href="/professor/profile/didatico">Material didático</a>
  </li>
  <li>
    <a href="/logout">Logout</a>
  </li>
</ul>
