<div class="col-xs-12 col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">


        <% if (accountType === "aluno" ) { %>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/profile" ) { %>class="nav-link active" <% } %> 
                    class="nav-link" href="/profile">Perfil
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/profile/turmas" ) { %>class="nav-link active" <% } %> 
                    class="nav-link" href="/profile/turmas">Minhas Turmas
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/profile/turmas/procurar" ) { %>class="nav-link active" <% } %> 
                    class="nav-link" href="/profile/turmas/procurar">Procurar por Turmas
                </a> 
            </li>

            <li><hr></li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/logout" ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                </a> 
            </li>

        <% } else if (accountType === "professor") { %>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/professor/profile" ) { %>class="nav-link active"<% } %> 
                    class="nav-link" href="/professor/profile">Perfil
                </a>

            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/professor/profile/turmas" ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/profile/turmas">Turmas
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/professor/profile/exercicios" ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/profile/exercicios">Exercícios
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/professor/profile/exercicios/lista" ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/profile/exercicios/lista">Lista de atividades
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/professor/profile/didatico" ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/profile/didatico">Material didático
                </a> 
            </li>

            <li><hr></li>
            
            <li class="nav-item"> 
                <a 
                    <% if ( page_name === "/professor/logout" ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                </a> 
            </li>

        <% } %>
        

    </ul>
</div>