<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">


        <% if (accountType === "aluno" ) { %>

            <% let paths = [
                "/profile",
                "/profile/turmas",
                "/profile/turmas/procurar"
            ] 
            %>
            
            <li class="nav-item"> 
                <a 
                    <% if (page_name === paths[0]) { %>class="nav-link active" <% } %> 
                    class="nav-link" href="/profile">Perfil
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if (page_name === paths[1]) { %>class="nav-link active" <% } %> 
                    class="nav-link" href="/profile/turmas">Minhas Turmas
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if (page_name === paths[2]) { %>class="nav-link active" <% } %> 
                    class="nav-link" href="/profile/turmas/procurar">Procurar por Turmas
                </a> 
            </li>

        <% } else if (accountType === "professor") { %>

            <% let paths = [
                "/professor/profile",
                "/professor/profile/turmas",
                "/professor/profile/exercicios",
                "/professor/profile/exercicios/lista",
                "/logout"
            ] 
            %>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === paths[0] ) { %>class="nav-link active"<% } %> 
                    class="nav-link" href="/professor/profile">Perfil
                </a>

            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === paths[1] ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/profile/turmas">Turmas
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === paths[2] ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/profile/exercicios">Exercícios
                </a> 
            </li>

            <li class="nav-item"> 
                <a 
                    <% if ( page_name === paths[3] ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/professor/profile/exercicios/lista">Lista de exercícios
                </a> 
            </li>

            <li>
                <hr>
            </li>
            
            <li class="nav-item"> 
                <a 
                    <% if ( page_name === paths[4] ) { %> class="nav-link active" <% } %>
                    class="nav-link" href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                </a> 
            </li>

        <% } %>
        

    </ul>
</nav>