<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body>

  <!-- NAVBAR -->

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Sistema de apoio ao professor</h1>
      <div class="row">

        <div class="col">
          <p class="lead text-muted"> Crie aqui sua conta ou faça o seu login</p>
          <p>
            <a href="/cadastro" class="btn btn-dark">Criar Conta</a>
            <a href="/login" class="btn btn-secondary">Entrar</a>
          </p>
        </div>

        <div class="col">
          <p class="lead text-muted"> Área do professor</p>
          <p>
            <a href="/professor/login" class="btn btn-secondary">Entrar</a>
          </p>
        </div>

      </div>
    </div>
  </section>

  <div class="container">

    <!-- SOBRE -->
    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">Sobre o Sistema</h2>
        <p class="lead">Sistema de apoio ao professor que auxilia com o material ministrado em sala de aula, disponibilizando o conteudo online.
          de forma simples.</p>
      </div>

      <div class="offset-md-1"> </div>

      <div class="col-md-4">
        <img class="img-fluid mx-auto" src="/images/do_your_pj.png" alt="do your pj">
      </div>
    </div>

    <br>
    <hr><br>

    <!-- CONTATO -->
    <div class="row">
      <div class="col-md text-edit">
        <h2>Contato</h2>
        <br>
        <h5>LCC (Laboratório de Computação Cientifica)</h5>
        <p>Telefone: (85) 3101-9783</p>
        <p>Endereço: Av. Dr. Silas Munguba, 1700, Campus do Itaperi, Fortaleza-CE</p>
        <p>CEP: 60.714.903 – Bloco CED (Centro de Educação)</p>
        <br>
        <h5>Alan Tavares Leite Silva</h5>
        <p>Email: alan1tavares@gmail.com</p>
        <h5>Thales Nogueira Diniz</h5>
        <p>Email: thalestnd@gmail.com</p>
        <br>
        <h5>Equipe de Apoio Técnico</h5>
        <p>Luiz Prudêncio Bondi de Souza – (CBCC – LCC/UECE – UECE)</p>
        <p>Prof Marcos Negreiros, DSc-PD – (CBCC – LCC/UECE-MPCOMP)</p>
        <br>
        <p>Sistema desenvolvido por <a href="http://github.com/pannry">Thales Diniz</a> com uma grande ajuda de <a
            href="https://github.com/alan1tavares">Alan Tavares</a>
          <p>

            <div class="row">
              <div class="col-md"> <img src="/images/logo-uece.png" alt="img1"> </div>
              <div class="col-md"> <img src="/images/logo-lcc.png" alt="img1"> </div>
              <div class="col-md"> <img src="/images/logo-mpcomp2.jpg" alt="img1"> </div>
            </div>


      </div>
    </div>

    <br>
    <hr><br>

    <!-- FOOTER -->
    <footer class="text-muted mt-6">
      <p class="mb-6 mt-6">Projel - 2019 <a href="#">TOPO</a></p>
    </footer>

  </div>


  <!-- Scripts -->
  <% include partials/scripts.ejs %>
</body>

</html>
