<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>


    <!-- Content -->
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

        <h1> <%= sala[0].nome+', '+sala[0].semestre %> </h1>

        <hr>
        <div class="card"> 
            
            <% if(aluno_aceito === 0){ %>
                <h5>Esperando autorização professor</h5>
            <% } else if (aluno_aceito === 1){ %>
                <h5>Você está dentro da turma!</h5>
            <% } %>

            <br>
            
            <br>
            <h4>Observações do professor:</h4>
            <h2>( OBSERVAÇÕES DO PROFESSOR ) </h2>

            <br>
            <div class="row">
                <h4 class="card-title col-md-3">Listas de questoes :</h4>
            </div>

            <ul class="list-group list-group-flush">
                <% if ( lista.length === 0 ) { %>
                    <h5>Nenhuma lista disponivel, por favor, adicione alguma agora.</h5>
                <% } else { %>
                    <div class="card">
                        <% for (var i = 0; i < lista.length; i++) { %>
                            
                            <li class="list-group-item"> 
                                <div class="row"> <div class="col-3"><%= lista[i].titulo%></div> </div> 
                            </li>

                        <% } %>
                    </div>
                <% } %>
            </ul>

            
        </div>

    </main>

    <% include ../../../partials/scripts.ejs /%>
</body>

</html>