<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>


    <!-- Content -->
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

        <h1> PEGAR NOME DA TURMA </h1>

        <hr>
        <div class="card"> 
            
            <br>
            <h2>( VERIFICAR SE O ALUNO FOI ACEITO NA TURMA )</h2>
            
            <br>
            <h4>Observações do professor:</h4>
            <h2>( OBSERVAÇÕES DO PROFESSOR ) </h2>

            <br>
            <h4>Lista de questoes :</h4>
            <h2>( LISTA DAS QUESTOES, BOTAO DE ABRIR LISTA ) </h2>

            <br>
            <h4>DENTRO DOS EXERCICIOS :</h4>
            <h2>( BOTAO DE CRIAR RESPOSTAS ) </h2>
            
        </div>

    </main>

    <% include ../../../partials/scripts.ejs /%>
</body>

</html>