<% include ../../../partials/aluno-top %>
<div class="card-body">
  <!-- content -->
  <h3>Lista de turmas:</h3>
  <hr>

  <!-- breadcrumb -->
  <nav aria-label="breadcrumb row">
    <ol class="breadcrumb col-md-10">
      <li class="breadcrumb-item active"><a href="/turmas">Turmas</a></li>
    </ol>
  </nav>

  <div class="list-group">
    <% for (var i = 0; i < listaSalaAluno.length; i++){%>
    <li class="list-group-item col-md-10 col-sm-12" value="<%=listaSalaAluno[i].id%>">
      <div class="row">
        <div class="col-7">
          <%=listaSalaAluno[i].nome%>,
          <%=listaSalaAluno[i].semestre%>
        </div>
        <div class="col-5">
          <a href="/turmas/abrir/<%=listaSalaAluno[i].id%>">
            <button type="submit" class="btn btn-secondary btn-sm">Entrar</button>
          </a>
        </div>
      </div>
    </li>
    <% } %>
  </div>
  <!-- end content -->
</div>
<% include ../../../partials/aluno-bottom %>