<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>


    <!-- Content -->
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

        <h1> Turmas </h1>

        <hr>

        <h4>Lista de turmas:</h4>

        <div class="list-group">

            <% for (var i = 0; i < listaSalaAluno.length; i++){%>
                <li class="list-group-item col-md-10 col-sm-12" value="<%=listaSalaAluno[i].id%>">
                    <div class="row">
                        <div class="col-7">
                            <%=listaSalaAluno[i].nome%>,
                            <%=listaSalaAluno[i].semestre%>
                        </div>

                        <div class="col-5">
                            <a href="/turmas/abrir/<%=listaSalaAluno[i].id%>">
                                <button type="submit" class="btn btn-secondary btn-sm">Entrar</button>
                            </a>
                        </div>
                    </div>
                </li>
            <% } %>

        </div>

    </main>

    <% include ../../../partials/scripts.ejs %>
</body>

</html>