<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head.ejs %>
</head>

<body>

    <!-- Nav dashboard -->
    <% include ../../../partials/navbar-dashboard.ejs %>

    <!-- Sidebar Menu -->
    <% include ../../../partials/sidebar-menu.ejs %>


    <!-- Content -->
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

        <div class="row">
            <div class="mr-auto col-md-6">
                <h1> Selecione a turma: </h1>
            </div>
            <div class="col-md-2 ml-auto">
                <a href="/profile/turmas">Voltar</a>
            </div>

        </div>

        <hr>

        <!-- Corpo -->
        <form action="/turmas/professor/:id" method="post">

            <% if( listaSalaAluno.length !== 0 ){ %>
                <% for (var i = 0; i < listaSalaAluno.length; i++){ %>
                    <li class="list-group-item col-md-10 col-sm-12" value="<%=listaSalaAluno[i].id%>">
                        
                        <div class="row">
                            <div class="col-7">
                                <%= listaSalaAluno[i].nome %>,
                                <%= listaSalaAluno[i].semestre %>
                            </div>

                            <div class="col-5">
                                <input class="btn btn-secondary btn-sm" type="submit" name="<%=listaSalaAluno[i].id%>" value="Entrar"></input>
                            </div>
                        </div>

                    </li>
                <% } %>

            <% } else {%>
                <p>Esse professor não possui turmas disponíveis.</p>
            <% } %>
        </form>

    </main>

    <% include ../../../partials/scripts.ejs /%>
</body>

</html>