<% include ../../../partials/aluno-top %>
<div class="card-body">
  <div class="row">
    <div class="mr-auto col-md-6">
      <h3> Buscando turma: </h3>
      <hr>
    </div>

  </div>
  <% if(detalhesSala !== undefined){%>
  <!-- Corpo -->
  <form action="/turmas/professor/detalhes" method="post">

    <h5>
      Turma: <%= detalhesSala.nome %><br>
      Semestre: <%= detalhesSala.semestre %>

    </h5>
    <br>
    <input class="btn btn-secondary btn-sm" type="submit" name="<%=detalhesSala.id%>" value="Entrar"></input>
    <a class="btn btn-secondary btn-sm" href="/turmas/procurar">Voltar</a>

    <%} else {%>

    <p>Turma não encontrada.</p>
    <a class="btn btn-secondary btn-sm" href="/turmas/procurar">Voltar</a>

    <%}%>

  </form>
</div>
<% include ../../../partials/aluno-bottom %>