<% include ../../../partials/aluno-top %>
<div class="card-body">

  <h3> Turmas </h3>
  <hr>

  <form class="" action="/turmas/professor/detalhes" method="GET">
    <div class="form-group">

      <div class="row">
        <!-- Dropbox para selecionar o professor -->
        <div class="col-md-4">
          <label for="selecionarProfessor">Selecione o Professor</label>
          <select class="form-control" id="selecionarProfessor" name="idProf"> 
            <option value="0"> Escolha... </option>
            <% for (var i = 0; i < listaSalaProfessor.length; i++){%>
            <option value="<%= listaSalaProfessor[i].id %>" name="idProf"> Prof:
              <%= listaSalaProfessor[i].nome %>
            </option>
            <% } %>
          </select>
        </div>

        <!-- Input box para especificar qual a sala -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Código da turma</label>
            <input class="form-control" placeholder="Cod. da turma" name="codSala">
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>


      <br>
      <div class="row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-secondary btn-sm">Procurar sala</button>
        </div>
      </div>

    </div>
  </form>

</div>
<% include ../../../partials/aluno-bottom %>