<% include ../../../partials/aluno-top %>
<div class="card-body">

  <h3> Turmas </h3>
  <hr>

  <div class="form-group">
    <label for="selecionarProfessor">Selecione o Professor</label>
    <select class="form-control" id="selecionarProfessor" onchange="myFunc()">
      <option value="0"> Escolha... </option>
      <% for (var i = 0; i < listaSalaProfessor.length; i++){%>
      <option value="<%= listaSalaProfessor[i].id %>"> Professor:
        <%= listaSalaProfessor[i].nome %>
      </option>
      <% } %>
    </select>
    <br>

    <a class="collapse" id="myAnchor">Abrir lista de Turmas</a>

    <script>
      function myFunc() {

        var dropDown = document.getElementById("selecionarProfessor");
        if (dropDown.value !== '0') {

          var anchor = document.getElementById("myAnchor");

          var link = document.createAttribute("href");
          link.value = "/turmas/professor/" + dropDown.value;

          var anchorClass = document.createAttribute("class");
          anchorClass.value = "btn btn-secondary btn-sm";

          anchor.setAttributeNode(anchorClass);
          anchor.setAttributeNode(link);
        }
      }
    </script>
  </div>

</div>
<% include ../../../partials/aluno-bottom %>